/*
 * Author: Mike King (@micjamking)
 */


/* -----------------------------------------
   Layout Styles
----------------------------------------- */
*{ margin: 0; padding: 0; }
html, body{ height: 100%; background-color: #111; }

body{
	position: relative; 
	box-shadow: inset 0px 0px 150px rgba(0,0,0,0.75); 
	font-family: 'Play', sans-serif; 
	color: #FFFFFF;
}

body:before{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
				linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
				linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
				linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
				linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
				linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, 
				transparent 50%, transparent 75%, #242424 75%, #242424);
	background-size: 5px 5px;
	opacity: 0.25;
	content: '';
}

.container{
	display: none;
	width: 250px;
	height: 250px;
	margin: -125px 0 0 -125px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;	
}

.header{
	width: 400px;	
	margin: 0 0 0 -70px;
}

.header h1, .header h2{
	position: absolute;
	top: -60px;
	left: 50%;
	text-align: center;
	transition: all 2s ease;
}

.header h1{
    width: 100%;
    margin: 0 0 0 -50%;
    top: -125px;
    font-weight: normal;
	font-size: 24px;
	color: rgba(252, 233, 252, 0.30);
}

.header h2{
	margin: 0 0 0 -31px;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.05);
}

.frequency-1{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transform: rotate(180deg);
}

.frequency-2{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}


/* -----------------------------------------
   Player Deck
----------------------------------------- */
.current_song.active{
	color: #FFFFFF;
}

.deck{
	position: relative;	
}

.player{
	display: block;
	width: 215px;
	height: 215px;
	margin: 13px auto 0;
	position: relative;
	border-radius: 200px;
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 1.0), 
		    	0px 0px 2px 20px rgba(30, 34, 33, 0.1);
}

#audio{
	display: none;
}

.control-play{
	display: block;
	width: 195px;
	height: 150px;
	padding: 65px 0 0 20px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 200px;
	background: linear-gradient(25deg, #0b0b0b 0%, #0d0d0d 75%, #283231 100%);
	box-shadow: inset 0px 0px 1px 1px rgba(30, 34, 33, 0.35),
				0px 0px 100px 0px rgba(255,255,255,0.0425);
	overflow: hidden;
	cursor: pointer;
	font-size: 72px;
	color: rgb(252, 233, 252);
	text-align: center;
}

.control-play:before{
	display: block;
	width: 170px;
	height: 170px;
	margin: -85px 0 0 -85px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 200px;
	background: linear-gradient(90deg, rgba(24, 24, 24, 0.8) 50%, rgba(79, 77, 78, 0.5));
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,1.0),
				0px 0px 2px 12px rgba(255,255,255,0.025);
	overflow: hidden;
	content: '';
}

.control-play:after{
	display: block;
	width: 162px;
	height: 162px;
	margin: -81px 0 0 -81px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 200px;
	background: linear-gradient(27deg, #111 5px, transparent 5px) 0 5px,
				linear-gradient(207deg, #111 5px, transparent 5px) 10px 0px,
				linear-gradient(27deg, #151515 5px, transparent 5px) 0px 10px,
				linear-gradient(207deg, #151515 5px, transparent 5px) 10px 5px,
				linear-gradient(90deg, #121212 10px, transparent 10px),
				linear-gradient(#111 25%, #101010 25%, #101010 50%, 
				transparent 50%, transparent 75%, #181818 75%, #181818);
	background-size: 5px 5px;	
	box-shadow: inset 0px 0px 50px 25px rgba(0,0,0,0.45);
	overflow: hidden;
	content: '';
}

.progress{
	display: none;
	margin: -42px 0 0 -42px;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
}

.on{
	width: 143px;
	height: 155px;
	padding: 60px 0 0 72px;
	font-size: 60px;
	text-align: left;
	letter-spacing: -15px;
}

.on:before{ 
	box-shadow: 0px 0px 5px 5px rgb(252, 233, 252), 
				0px 0px 2px 9px rgb(179, 107, 175), 
				0px 0px 2px 11px rgba(0,0,0,1); 
}


/* -----------------------------------------
   Tracklist
----------------------------------------- */
.toggle{
	display: none;
	height: 36px;
	width: 36px;
	padding: 0px;
	position: absolute;
	top: 318px;
	left: 106px;
	border-radius: 60px;
	background-color: #111111;
	background: linear-gradient(90deg, transparent, rgba(255,255,255,0.04));
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1.0),
		    	0px 1px 0px 6px rgba(255,255,255,0.03),
		    	inset 0px 2px 2px 0px rgba(255,255,255,0.04);
	font-size: 30px;
	color: rgba(252, 233, 252, 0.30);
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
}

.toggle.open{
	background: linear-gradient(305deg, rgba(255,255,255,0.04) 10%, transparent 20%, rgba(0,0,0,1));
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1.0),
		    	    -1px -1px 0px 6px rgba(255,255,255,0.03),
		    	    inset 2px 1px 2px 0px rgba(255,255,255,0.04);
	animation: open 0.5s ease both;
	transition: all 0.5s ease;
}

.toggle.closed{
	display: none;
	animation: closed 0.5s ease both;
	transition: all 0.5s ease;
}

.tracklist{
	display: none;
	width: 270px;
	height: 144px;
	margin: 50px 0 0 -10px;
	border-radius: 5px;
	border: 5px solid #000000;
	background: #111;
	box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.04);
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all 0.5s ease;
}

::scrollbar {
    width: 12px;
}
 
::scrollbar-track {
	background: #000;
}
 
::scrollbar-thumb {
	background: rgba(255,255,255,0.1);
    box-shadow: inset 1px 0 5px rgba(0,0,0,1); 
}

.tracklist.visible{
	display: block;	
}

.tracklist.hidden{
	animation: hidden 0.5s ease-in 0.5s both;
}

.tracklist li{
	list-style-position:inside;
	padding: 10px 15px;
	border-top: 1px solid rgba(255,255,255,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	background: linear-gradient(90deg, transparent, rgba(255,255,255,0.04));
	font-size: 12px;
	color: rgba(252, 233, 252,0.30);	
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	transition: all 0.5s ease;
}

.tracklist li.selected{
	box-shadow: inset 5px 0px 0px 0px rgb(179, 107, 175), 
		    	inset 6px 0px 0px 0px rgba(0,0,0,0.5);
	padding: 10px 5px 10px 25px;
	color: rgb(179, 107, 175);
}


/* -----------------------------------------
   Interactions
----------------------------------------- */
.control-play:hover{ color: rgb(179, 107, 175); }
.control-play:active:before{ background: #000; }
.control-play:active:after{ box-shadow: inset 0px 0px 25px 25px rgba(0,0,0,0.40); }
.on:active:before{ box-shadow: 0px 0px 0px 10px rgba(0,0,0,1.0), 0px 0px 2px 12px rgba(255,255,255,0.025); }
.tracklist li:hover{ background: linear-gradient(90deg, rgba(0,0,0,1), transparent); color: rgb(179, 107, 175); }


/* -----------------------------------------
   Animations
----------------------------------------- */
.visible{ animation: visible 0.5s ease-in 0.5s both; }
.active	{ animation: active 2.5s linear infinite; }

@keyframes active{
	0%	{ text-shadow: 0px 0px 25px rgb(252, 233, 252), 0px 0px 25px rgb(179, 107, 175); }
	50%	{ text-shadow: 0px 0px 5px rgb(252, 233, 252), 0px 0px 5px rgb(179, 107, 175); }
	100%{ text-shadow: 0px 0px 25px rgb(252, 233, 252), 0px 0px 25px rgb(179, 107, 175); }
}
@keyframes visible{
	0% 	{ opacity: 0; transform: scale(.3); }
	50% { opacity: 1; transform: scale(1.1); }
	70% { transform: scale(.9); }
	100%{ transform: scale(1); }
}
@keyframes hidden{
	0% 	{ transform: scale(1); }
	70% { opacity: 1; transform: scale(.9); }
	100% { opacity: 0; transform: scale(.3); }
}	
@keyframes open{
	0%	{ transform: translateX(0); }
	60%	{ transform: translateX(-200px); }
	80%	{ color: rgba(252, 233, 252,0.30); text-shadow: 0px 0px 5px rgba(0,0,0,0.5); transform: translateX(-185px) rotate(0deg); }
	100%{ color: rgb(179, 107, 175); text-shadow: 0px 0px 20px rgba(252, 233, 252,0.5); transform: translateX(-190px) rotate(225deg); }	
}
@keyframes closed{
	0%	{ color: rgb(179, 107, 175); text-shadow: 0px 0px 20px rgba(252, 233, 252,0.5); transform: translateX(-190px) rotate(225deg);	}
	60%	{ color: rgba(252, 233, 252,0.30); text-shadow: 0px 0px 5px rgba(0,0,0,0.5); transform: translateX(10px) rotate(0deg); }
	80%	{ transform: translateX(-5px); }
	100%{ transform: translateX(0); }	
}